@charset "utf-8";
/* CSS Document */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1){
    #anuncio{
	
      position: absolute;top: 380%;	   background: rgba(178,0,176,1);width: 100%; text-align: center;left: 0%;
    }
  a:hover{
    color: rgba(66,158,255,1);
    font-weight: 500;
  
    
  }
  #separador img{
    position: absolute;
  left: 0%;top: 0%;
    height: 100%;z-index: 0;
    width: 100%;
  }
  body{
  background: url('../IMAGENES/fondogale.jpg'); background-repeat:no-repeat; background-position: center center; position: static;
         background-size:cover;background-attachment: fixed; 
  font-family: "Monterchi Thin";
  color: black;
  }
  /* header */
  
  ::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: transparent;transition: ease 0.7s;
  }
  ::-webkit-scrollbar-thumb {
  
    border-radius: 12px;}
  
  body::-webkit-scrollbar-thumb{
      background-color: var( --scrollbar-background-color ); transition: background-color .5s ease-out;
  }
  #menu ul {
   list-style:none;
   margin:0;
   padding:0;
  }
  
  /* items del menu */
  
  #menu ul li {
  
  }
  
  /* enlaces del menu */
  
  #menu ul a {
   
  
  
   padding-right: 25px;
    
    
  
  
  }
  
  /* items del menu */
  
  #menu ul li {
   position:relative;
   float:left;
  
  }
  
  /* efecto al pasar el rat贸n por los items del menu */
  
  #menu:hover {
  
  }
  #menu{
    position: inherit;
    float: right;
    left: 30%;
    top: 0%;
      
    display: inline;
    height: 15%;
    width: 70%;
  
  }
  
  
  #menu ul ul {
   display:none;
   position:absolute;
  
   left:0;
    right: 5;
    width: 100%;
  
  background: rgba(178,0,176,0.6);
  
  
  }
  
  
  /* items del menu desplegable */
  
  #menu ul ul li {
    font-size: 100%;
   float:none;
  
  }
  
  /* enlaces de los items del menu desplegable */
  
  #menu ul ul a {
  
  padding: 5% 5%;
  }
  
  /* items del menu desplegable al pasar el rat贸n */
  
  #menu ul li:hover > ul {
   display:block;
    
    
  }
  
  
  
  #nav{
    position: inherit;
    display: block;
  right: 0%;
    width: 80%;
  padding: 2%;
    height: 10%;
    font-family: "Monterchi Thin";
    font-size: 150%;
  
        
  
  }
  #header	{
    width:100%;
  position: fixed;
  z-index: 10;
  }
  
  #as{
    top: 0%;
    position:absolute;
    padding: 3%; background-color: transparent;
      transition: background-color .5s ease-out;
    width: 80%;
    left: 2%;
  
  }
  
  #as.scroll {
  background: rgba(178,0,176,0.6);
  
  
  }
  
  a{
  
  display: inline-block;
  
  
    padding-right: 2%;
  
    color:white;
    text-decoration: none;
  
  
  }
  
  
  
  
  #logo	{
    float: left;
  
    margin-top: -3%;
  
    width: 12%; height:12%;
  }
  
  .logomain{
    position: absolute;
    left: 35%;
    top: 10%;
    right: 35%;
    width:30%; 
  }
  
  .flecha{
    position: absolute;
    left: 70%;
    top: 32%;
    right: 35%;
  
    
    height: 30%;
  
  }
  
  .flecha1{
    position: absolute;
    left: 75%;
    top: 32%;
    right: 35%;
  
    
    height: 30%;
  
  }
  
  .slogan{
      position: absolute;
    top:20%;
    left: 10%;
    width:80%;
    right: 10%;
    height: 75%;
    
  
    
      font-family: "Monterchi Thin";
    font-size: 200%;
    color: white;
    
    
  }.slogan >h1{
    text-align: center;margin-top: -1%;
    font-size: 300%;
  
  }
  
  #textmain{
    left: 2%;
    position: inherit;
    width: 25%;
    border: solid white ;
    text-align: justify;
    padding:2%;top: 20%;
  }
  
  
  
  
  
  
  
  
  /*body*/
  
  
  #parte1{width: 100%;left: 0%; position: absolute; top:100%; height: 280%; background: url("../IMAGENES/fondogaleria.jpg");}
     
      .hello {
        opacity: 1 !important;
      }
      .full {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .full .content {
        background-color: rgba(0,0,0,0.75) !important;
        height: 100%;
        width: 100%;
        display: grid;
      }
      .full .content img {
        left: 50%;
        transform: translate3d(0, 0, 0);
        animation: zoomin 1s ease;
        max-width: 100%;
        max-height: 47%;
        margin: 5% AUTO AUTO AUTO;
      }
      .byebye {
        opacity: 0;
      }
      .byebye:hover {
        transform: scale(0.2) !important;
      }
      .gallery {
        display: grid;position: inherit;height: 50%; width: 90%; left: 5%;
        grid-column-gap: 8px;
        grid-row-gap: 8px;top:5%;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 8px;
      }
      .gallery img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 16px #333;
        transition: all 1.5s ease;
      }
      .gallery img:hover {
        box-shadow: 0 0 32px #333;
      }
      .gallery .content {
        padding: 4px;
      }
      .gallery .gallery-item {
        transition: grid-row-start 300ms linear;
        transition: transform 300ms ease;
        transition: all 0.5s ease;
        cursor: pointer;
      }
      .gallery .gallery-item:hover {
        transform: scale(1.025);
      }
      @media (max-width: 600px) {
        .gallery {
          grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        }
      }
      @media (max-width: 400px) {
        .gallery {
          grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        }
      }
      @-moz-keyframes zoomin {
        0% {
          max-width: 50%;
          transform: rotate(-30deg);
          filter: blur(4px);
        }
        30% {
          filter: blur(4px);
          transform: rotate(-80deg);
        }
        70% {
          max-width: 50%;
          transform: rotate(45deg);
        }
        100% {
          max-width: 100%;
          transform: rotate(0deg);
        }
      }
      @-webkit-keyframes zoomin {
        0% {
          max-width: 50%;
          transform: rotate(-30deg);
          filter: blur(4px);
        }
        30% {
          filter: blur(4px);
          transform: rotate(-80deg);
        }
        70% {
          max-width: 50%;
          transform: rotate(45deg);
        }
        100% {
          max-width: 100%;
          transform: rotate(0deg);
        }
      }
      @-o-keyframes zoomin {
        0% {
          max-width: 50%;
          transform: rotate(-30deg);
          filter: blur(4px);
        }
        30% {
          filter: blur(4px);
          transform: rotate(-80deg);
        }
        70% {
          max-width: 50%;
          transform: rotate(45deg);
        }
        100% {
          max-width: 100%;
          transform: rotate(0deg);
        }
      }
      @keyframes zoomin {
        0% {
          max-width: 50%;
          transform: rotate(-30deg);
          filter: blur(4px);
        }
        30% {
          filter: blur(4px);
          transform: rotate(-80deg);
        }
        70% {
          max-width: 50%;
          transform: rotate(45deg);
        }
        100% {
          max-width: 100%;
          transform: rotate(0deg);
        }
      }
  
  
  #footer{
    position: absolute;
    top: 395%;
    left: 0%;
    height: 35%;
    width: 100%;
      background: rgba(178,0,176,1);
    font-family: "Monterchi Thin";
    font-size: 120%;
    color:white;
  }
  
  
  
  #footer > h4{
    font-weight: 600;
    font-size: 130%;
    float: left;
    text-align: left;
    position: inherit;left: 2%;
    top: 0%;
      
  }
  
  #footiz{
      text-align: justify;
    position: inherit;
    float: left;
    top: 25%;
    width: 25%;
    left: 2%;
    
  }
  
  
  #footiz1{
      text-align: justify;
    position: inherit;
    float: left;
    top: 40%;
    width: 25%;
    left: 2%;
    
  }
  
  #footiz2{
      text-align: justify;
    position: inherit;
    float: left;
    top: 55%;
    width: 25%;
    left: 2%;
    
  }
  
  #footder{
      text-align: right;
    position: inherit;
    float: right;
    top: 70%;
    width: 98%;
    
    
  }
  
  
  }
  @media only screen 
and (min-width : 1824px) {
  #anuncio{

    position: absolute;top: 380%;	   background: rgba(178,0,176,1);width: 100%; text-align: center;left: 0%;
  }
a:hover{
  color: rgba(66,158,255,1);
  font-weight: 500;

  
}
#separador img{
  position: absolute;
left: 0%;top: 0%;
  height: 100%;z-index: 0;
  width: 100%;
}
body{
background: url('../IMAGENES/fondogale.jpg'); background-repeat:no-repeat; background-position: center center; position: static;
       background-size:cover;background-attachment: fixed; 
font-family: "Monterchi Thin";
color: black;
}
/* header */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;transition: ease 0.7s;
}
::-webkit-scrollbar-thumb {

  border-radius: 12px;}

body::-webkit-scrollbar-thumb{
    background-color: var( --scrollbar-background-color ); transition: background-color .5s ease-out;
}
#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

/* items del menu */

#menu ul li {

}

/* enlaces del menu */

#menu ul a {
 


 padding-right: 25px;
  
  


}

/* items del menu */

#menu ul li {
 position:relative;
 float:left;

}

/* efecto al pasar el rat贸n por los items del menu */

#menu:hover {

}
#menu{
  position: inherit;
  float: right;
  left: 30%;
  top: 0%;
    
  display: inline;
  height: 15%;
  width: 70%;

}


#menu ul ul {
 display:none;
 position:absolute;

 left:0;
  right: 5;
  width: 100%;

background: rgba(178,0,176,0.6);


}


/* items del menu desplegable */

#menu ul ul li {
  font-size: 100%;
 float:none;

}

/* enlaces de los items del menu desplegable */

#menu ul ul a {

padding: 5% 5%;
}

/* items del menu desplegable al pasar el rat贸n */

#menu ul li:hover > ul {
 display:block;
  
  
}



#nav{
  position: inherit;
  display: block;
right: 0%;
  width: 80%;
padding: 2%;
  height: 10%;
  font-family: "Monterchi Thin";
  font-size: 150%;

      

}
#header	{
  width:100%;
position: fixed;
z-index: 10;
}

#as{
  top: 0%;
  position:absolute;
  padding: 3%; background-color: transparent;
    transition: background-color .5s ease-out;
  width: 80%;
  left: 2%;

}

#as.scroll {
background: rgba(178,0,176,0.6);


}

a{

display: inline-block;


  padding-right: 2%;

  color:white;
  text-decoration: none;


}




#logo	{
  float: left;

  margin-top: -3%;

  width: 12%; height:12%;
}

.logomain{
  position: absolute;
  left: 35%;
  top: 10%;
  right: 35%;
  width:30%; 
}

.flecha{
  position: absolute;
  left: 70%;
  top: 32%;
  right: 35%;

  
  height: 30%;

}

.flecha1{
  position: absolute;
  left: 75%;
  top: 32%;
  right: 35%;

  
  height: 30%;

}

.slogan{
    position: absolute;
  top:20%;
  left: 10%;
  width:80%;
  right: 10%;
  height: 75%;
  

  
    font-family: "Monterchi Thin";
  font-size: 200%;
  color: white;
  
  
}.slogan >h1{
  text-align: center;margin-top: -1%;
  font-size: 300%;

}

#textmain{
  left: 2%;
  position: inherit;
  width: 25%;
  border: solid white ;
  text-align: justify;
  padding:2%;top: 20%;
}








/*body*/


#parte1{width: 100%;left: 0%; position: absolute; top:100%; height: 280%; background: url("../IMAGENES/fondogaleria.jpg");}
   
    .hello {
      opacity: 1 !important;
    }
    .full {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .full .content {
      background-color: rgba(0,0,0,0.75) !important;
      height: 100%;
      width: 100%;
      display: grid;
    }
    .full .content img {
      left: 50%;
      transform: translate3d(0, 0, 0);
      animation: zoomin 1s ease;
      max-width: 100%;
      max-height: 47%;
      margin: 5% AUTO AUTO AUTO;
    }
    .byebye {
      opacity: 0;
    }
    .byebye:hover {
      transform: scale(0.2) !important;
    }
    .gallery {
      display: grid;position: inherit;height: 50%; width: 90%; left: 5%;
      grid-column-gap: 8px;
      grid-row-gap: 8px;top:5%;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 8px;
    }
    .gallery img {
      max-width: 100%;
      border-radius: 8px;
      box-shadow: 0 0 16px #333;
      transition: all 1.5s ease;
    }
    .gallery img:hover {
      box-shadow: 0 0 32px #333;
    }
    .gallery .content {
      padding: 4px;
    }
    .gallery .gallery-item {
      transition: grid-row-start 300ms linear;
      transition: transform 300ms ease;
      transition: all 0.5s ease;
      cursor: pointer;
    }
    .gallery .gallery-item:hover {
      transform: scale(1.025);
    }
    @media (max-width: 600px) {
      .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      }
    }
    @media (max-width: 400px) {
      .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      }
    }
    @-moz-keyframes zoomin {
      0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
      }
      30% {
        filter: blur(4px);
        transform: rotate(-80deg);
      }
      70% {
        max-width: 50%;
        transform: rotate(45deg);
      }
      100% {
        max-width: 100%;
        transform: rotate(0deg);
      }
    }
    @-webkit-keyframes zoomin {
      0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
      }
      30% {
        filter: blur(4px);
        transform: rotate(-80deg);
      }
      70% {
        max-width: 50%;
        transform: rotate(45deg);
      }
      100% {
        max-width: 100%;
        transform: rotate(0deg);
      }
    }
    @-o-keyframes zoomin {
      0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
      }
      30% {
        filter: blur(4px);
        transform: rotate(-80deg);
      }
      70% {
        max-width: 50%;
        transform: rotate(45deg);
      }
      100% {
        max-width: 100%;
        transform: rotate(0deg);
      }
    }
    @keyframes zoomin {
      0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
      }
      30% {
        filter: blur(4px);
        transform: rotate(-80deg);
      }
      70% {
        max-width: 50%;
        transform: rotate(45deg);
      }
      100% {
        max-width: 100%;
        transform: rotate(0deg);
      }
    }


#footer{
  position: absolute;
  top: 392%;
  left: 0%;
  height: 35%;
  width: 100%;
    background: rgba(178,0,176,1);
  font-family: "Monterchi Thin";
  font-size: 120%;
  color:white;
}



#footer > h4{
  font-weight: 600;
  font-size: 130%;
  float: left;
  text-align: left;
  position: inherit;left: 2%;
  top: 0%;
    
}

#footiz{
    text-align: justify;
  position: inherit;
  float: left;
  top: 25%;
  width: 25%;
  left: 2%;
  
}


#footiz1{
    text-align: justify;
  position: inherit;
  float: left;
  top: 40%;
  width: 25%;
  left: 2%;
  
}

#footiz2{
    text-align: justify;
  position: inherit;
  float: left;
  top: 55%;
  width: 25%;
  left: 2%;
  
}

#footder{
    text-align: right;
  position: inherit;
  float: right;
  top: 70%;
  width: 98%;
  
  
}


}
