@charset "utf-8";
/* CSS Document */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1){
	#anuncio{
		
			position: absolute;top: 300%;background: black;width: 100%; text-align: center; left: 0%;
		}
	
	a:hover{
		color: rgba(66,158,255,1);
		font-weight: 500;
	
		
	}
	
	body{
	
	font-family: "Monterchi Thin";
	color: black;
	}
	/* header */
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: transparent;transition: ease 0.7s;
	}
	::-webkit-scrollbar-thumb {
	
		border-radius: 12px;}
	
	body::-webkit-scrollbar-thumb{
		background-color: var( --scrollbar-background-color ); transition: background-color .5s ease-out;
	}
	#menu ul {
	 list-style:none;
	 margin:0;
	 padding:0;
	}
	
	/* items del menu */
	
	#menu ul li {
	
	}
	
	/* enlaces del menu */
	
	#menu ul a {
	 
	
	
	 padding-right: 25px;
		
		
	
	
	}
	
	/* items del menu */
	
	#menu ul li {
	 position:relative;
	 float:left;
	
	}
	
	/* efecto al pasar el ratón por los items del menu */
	
	#menu:hover {
	
	}
	#menu{
		position: inherit;
		float: right;
		left: 30%;
		top: 0%;
			
		display: inline;
		height: 15%;
		width: 70%;
	
	}
	
	
	#menu ul ul {
	 display:none;
	 position:absolute;
	
	 left:0;
		right: 5;
		width: 100%;
	
	background: rgba(30,30,30,0.67);
	
	
	}
	
	
	/* items del menu desplegable */
	
	#menu ul ul li {
		font-size: 100%;
	 float:none;
	
	}
	
	/* enlaces de los items del menu desplegable */
	
	#menu ul ul a {
	
	padding: 5% 5%;
	}
	
	/* items del menu desplegable al pasar el ratón */
	
	#menu ul li:hover > ul {
	 display:block;
		
		
	}
	
	
	
	#nav{
		position: inherit;
		display: block;
	right: 0%;
		width: 80%;
	padding: 2%;
		height: 10%;
		font-family: "Monterchi Thin";
		font-size: 150%;
	
				
	
	}
	#header	{
		width:100%;
	position: fixed;
	z-index: 10;
	}
	
	#as{
		top: 0%;
		position:absolute;
		padding: 3%; background-color: transparent;
		  transition: background-color .5s ease-out;
		width: 80%;
		left: 2%;
	
	}
	
	#as.scroll {
	background: rgba(30,30,30,0.67);
	
	
	}
	
	a{
	
	display: inline-block;
	
	
		padding-right: 2%;
	
		color:white;
		text-decoration: none;
	
	
	}
	
	
	
	
	#logo	{
		float: left;
	
		margin-top: -3%;
	
		width: 12%; height:12%;
	}
	
	
	#parte1{
		left: 0%;
		top: 0%;
		position: absolute;
		width: 100%;
		height: 100%;color: white; background-size: 100%;
		background-image: url("../IMAGENES/fondonos.jpg");
		font-size: 150%;
	}
	#parte1 h2{top:3%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#mision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 35%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	
	}
	.text{
position: absolute;
top: 10%;
	}
	
	#vision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 65%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	}
	
	#valores{
		
		position: inherit;
	
		width: 40%;
		height: 60%;
		top: 35%;
		left: 50%;	background: rgba(0,0,0,0.67);
	
	}
	
	#mision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#mision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#vision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#vision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#valores h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: 0%;
	}
	
	
	#valores ul >li{
		font-size: 90%;
		text-align: justify;
			margin-top: 3%;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#parte2 iframe{
		
		position: inherit;
		width: 70%;
		height: 40%;
		top: 15%;
		left: 15%;
		box-shadow: 0px 0px 5px 5px black;
	}
	
	#parte2{
		left: 0%;
		top: 100%;
		position: absolute;
		width: 100%;
		height: 200%;color: white;
		background-image: url("../IMAGENES/fondoco.jpg"); background-size: 100%;
		font-size: 150%;
	}
	#parte2 h2{top:-5%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#formulario{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 15%;
	
	}
	
	input{
		width:70%;
	}
	
	
	
	button:hover{
			background: black;
		color: white;
	}
	button {
		
		position: inherit;
		margin-left: 0%;
	width: 20%;
		height: 5%;transition: ease .6s;
		right: 20%;
		font-family:"Monterchi Thin";
		font-size:90%;
		font-weight: 800;
	border: solid;
		background: rgba(255,255,255,0.60);
		top: 80%;
		cursor: pointer;
	}
	
	textarea{
		width:70%;
	resize: none;
		height: 70px;
		position: relative;
	}
	
	
	
	
	#info{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 60%;
	
	}
	
	
	
	
	
	
	#footer{
		position: absolute;
		top: 316%;
		left: 0%;
		height: 30%;
		width: 100%;
		  background: black;
		font-family: Fabulist;
		font-size: 120%;
		color:white;
	}
	
	#footer > h4{
		font-weight: 600;
		font-size: 130%;
		float: left;left: 2%;
		text-align: left;
		position: inherit;
		top: 0%;
			
	}
	
	#footiz{
			text-align: justify;
		position: inherit;
		float: left;
		top: 25%;
		width: 25%;
		left: 2%;
		
	}
	
	
	#footiz1{
			text-align: justify;
		position: inherit;
		float: left;
		top: 40%;
		width: 25%;
		left: 2%;
		
	}
	
	#footiz2{
			text-align: justify;
		position: inherit;
		float: left;
		top: 55%;
		width: 25%;
		left: 2%;
		
	}
	
	#footder{
			text-align: right;
		position: inherit;
		float: right;
		top: 70%;
		width: 98%;
		
		
	}

}


  @media only screen 
and (min-width : 1824px){
	#anuncio{
		
			position: absolute;top: 300%;background: black;width: 100%; text-align: center; left: 0%;
		}
	
	a:hover{
		color: rgba(66,158,255,1);
		font-weight: 500;
	
		
	}
	
	body{
	
	font-family: "Monterchi Thin";
	color: black;
	}
	/* header */
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: transparent;transition: ease 0.7s;
	}
	::-webkit-scrollbar-thumb {
	
		border-radius: 12px;}
	
	body::-webkit-scrollbar-thumb{
		background-color: var( --scrollbar-background-color ); transition: background-color .5s ease-out;
	}
	#menu ul {
	 list-style:none;
	 margin:0;
	 padding:0;
	}
	
	/* items del menu */
	
	#menu ul li {
	
	}
	
	/* enlaces del menu */
	
	#menu ul a {
	 
	
	
	 padding-right: 25px;
		
		
	
	
	}
	
	/* items del menu */
	
	#menu ul li {
	 position:relative;
	 float:left;
	
	}
	
	/* efecto al pasar el ratón por los items del menu */
	
	#menu:hover {
	
	}
	#menu{
		position: inherit;
		float: right;
		left: 30%;
		top: 0%;
			
		display: inline;
		height: 15%;
		width: 70%;
	
	}
	
	
	#menu ul ul {
	 display:none;
	 position:absolute;
	
	 left:0;
		right: 5;
		width: 100%;
	
	background: rgba(30,30,30,0.67);
	
	
	}
	
	
	/* items del menu desplegable */
	
	#menu ul ul li {
		font-size: 100%;
	 float:none;
	
	}
	
	/* enlaces de los items del menu desplegable */
	
	#menu ul ul a {
	
	padding: 5% 5%;
	}
	
	/* items del menu desplegable al pasar el ratón */
	
	#menu ul li:hover > ul {
	 display:block;
		
		
	}
	
	
	
	#nav{
		position: inherit;
		display: block;
	right: 0%;
		width: 80%;
	padding: 2%;
		height: 10%;
		font-family: "Monterchi Thin";
		font-size: 150%;
	
				
	
	}
	#header	{
		width:100%;
	position: fixed;
	z-index: 10;
	}
	
	#as{
		top: 0%;
		position:absolute;
		padding: 3%; background-color: transparent;
		  transition: background-color .5s ease-out;
		width: 80%;
		left: 2%;
	
	}
	
	#as.scroll {
	background: rgba(30,30,30,0.67);
	
	
	}
	
	a{
	
	display: inline-block;
	
	
		padding-right: 2%;
	
		color:white;
		text-decoration: none;
	
	
	}
	
	
	
	
	#logo	{
		float: left;
	
		margin-top: -3%;
	
		width: 12%; height:12%;
	}
	
	
	#parte1{
		left: 0%;
		top: 0%;
		position: absolute;
		width: 100%;
		height: 100%;color: white; background-size: 100%;
		background-image: url("../IMAGENES/fondonos.jpg");
		font-size: 150%;
	}
	#parte1 h2{top:3%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#mision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 35%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	
	}
	.text{
position: absolute;
top: 10%;
	}
	
	#vision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 65%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	}
	
	#valores{
		
		position: inherit;
	
		width: 40%;
		height: 60%;
		top: 35%;
		left: 50%;	background: rgba(0,0,0,0.67);
	
	}
	
	#mision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#mision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#vision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#vision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#valores h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: 0%;
	}
	
	
	#valores ul >li{
		font-size: 90%;
		text-align: justify;
			margin-top: 3%;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#parte2 iframe{
		
		position: inherit;
		width: 70%;
		height: 40%;
		top: 15%;
		left: 15%;
		box-shadow: 0px 0px 5px 5px black;
	}
	
	#parte2{
		left: 0%;
		top: 100%;
		position: absolute;
		width: 100%;
		height: 200%;color: white;
		background-image: url("../IMAGENES/fondoco.jpg"); background-size: 100%;
		font-size: 150%;
	}
	#parte2 h2{top:-5%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#formulario{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 15%;
	
	}
	
	input{
		width:70%;
	}
	
	
	
	button:hover{
			background: black;
		color: white;
	}
	button {
		
		position: inherit;
		margin-left: 0%;
	width: 20%;
		height: 5%;transition: ease .6s;
		right: 20%;
		font-family:"Monterchi Thin";
		font-size:90%;
		font-weight: 800;
	border: solid;
		background: rgba(255,255,255,0.60);
		top: 80%;
		cursor: pointer;
	}
	
	textarea{
		width:70%;
	resize: none;
		height: 70px;
		position: relative;
	}
	
	
	
	
	#info{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 60%;
	
	}
	
	
	
	
	
	
	#footer{
		position: absolute;
		top: 312%;
		left: 0%;
		height: 30%;
		width: 100%;
		  background: black;
		font-family: Fabulist;
		font-size: 120%;
		color:white;
	}
	
	#footer > h4{
		font-weight: 600;
		font-size: 130%;
		float: left;left: 2%;
		text-align: left;
		position: inherit;
		top: 0%;
			
	}
	
	#footiz{
			text-align: justify;
		position: inherit;
		float: left;
		top: 25%;
		width: 25%;
		left: 2%;
		
	}
	
	
	#footiz1{
			text-align: justify;
		position: inherit;
		float: left;
		top: 40%;
		width: 25%;
		left: 2%;
		
	}
	
	#footiz2{
			text-align: justify;
		position: inherit;
		float: left;
		top: 55%;
		width: 25%;
		left: 2%;
		
	}
	
	#footder{
			text-align: right;
		position: inherit;
		float: right;
		top: 70%;
		width: 98%;
		
		
	}

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi){
	#anuncio{
		
			position: absolute;top: 300%;background: black;width: 100%; text-align: center; left: 0%;
		}
	
	a:hover{
		color: rgba(66,158,255,1);
		font-weight: 500;
	
		
	}
	
	body{
	
	font-family: "Monterchi Thin";
	color: black;
	}
	/* header */
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: transparent;transition: ease 0.7s;
	}
	::-webkit-scrollbar-thumb {
	
		border-radius: 12px;}
	
	body::-webkit-scrollbar-thumb{
		background-color: var( --scrollbar-background-color ); transition: background-color .5s ease-out;
	}
	#menu ul {
	 list-style:none;
	 margin:0;
	 padding:0;
	}
	
	/* items del menu */
	
	#menu ul li {
	
	}
	
	/* enlaces del menu */
	
	#menu ul a {
	 
	
	
	 padding-right: 25px;
		
		
	
	
	}
	
	/* items del menu */
	
	#menu ul li {
	 position:relative;
	 float:left;
	
	}
	
	/* efecto al pasar el ratón por los items del menu */
	
	#menu:hover {
	
	}
	#menu{
		position: inherit;
		float: right;
		left: 30%;
		top: 0%;
			
		display: inline;
		height: 15%;
		width: 70%;
	
	}
	
	
	#menu ul ul {
	 display:none;
	 position:absolute;
	
	 left:0;
		right: 5;
		width: 100%;
	
	background: rgba(30,30,30,0.67);
	
	
	}
	
	
	/* items del menu desplegable */
	
	#menu ul ul li {
		font-size: 100%;
	 float:none;
	
	}
	
	/* enlaces de los items del menu desplegable */
	
	#menu ul ul a {
	
	padding: 5% 5%;
	}
	
	/* items del menu desplegable al pasar el ratón */
	
	#menu ul li:hover > ul {
	 display:block;
		
		
	}
	
	
	
	#nav{
		position: inherit;
		display: block;
	right: 0%;
		width: 80%;
	padding: 2%;
		height: 10%;
		font-family: "Monterchi Thin";
		font-size: 150%;
	
				
	
	}
	#header	{
		width:100%;
	position: fixed;
	z-index: 10;
	}
	
	#as{
		top: 0%;
		position:absolute;
		padding: 3%; background-color: transparent;
		  transition: background-color .5s ease-out;
		width: 80%;
		left: 2%;
	
	}
	
	#as.scroll {
	background: rgba(30,30,30,0.67);
	
	
	}
	
	a{
	
	display: inline-block;
	
	
		padding-right: 2%;
	
		color:white;
		text-decoration: none;
	
	
	}
	
	
	
	
	#logo	{
		float: left;
	
		margin-top: -3%;
	
		width: 12%; height:12%;
	}
	
	
	#parte1{
		left: 0%;
		top: 0%;
		position: absolute;
		width: 100%;
		height: 100%;color: white; background-size: 100%;
		background-image: url("../IMAGENES/fondonos.jpg");
		font-size: 150%;
	}
	#parte1 h2{top:3%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#mision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 35%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	
	}
	.text{
position: absolute;
top: 10%;
	}
	
	#vision{
		
		position: inherit;
	
		width: 40%;
		height: 30%;
		top: 65%;
		left: 10%;
		background: rgba(0,0,0,0.67);
	
	}
	
	#valores{
		
		position: inherit;
	
		width: 40%;
		height: 60%;
		top: 35%;
		left: 50%;	background: rgba(0,0,0,0.67);
	
	}
	
	#mision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#mision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#vision h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: -5%;
	}
	
	
	#vision p{
		font-size: 90%;
		text-align: justify;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#valores h4{
	text-align: justify;
		margin-top: 1%;
			margin-left: 3%;
		margin-bottom: 0%;
	}
	
	
	#valores ul >li{
		font-size: 90%;
		text-align: justify;
			margin-top: 3%;
		margin-left: 3%;
		margin-bottom:3%;
		margin-right:3%;
	}
	
	
	
	#parte2 iframe{
		
		position: inherit;
		width: 70%;
		height: 40%;
		top: 15%;
		left: 15%;
		box-shadow: 0px 0px 5px 5px black;
	}
	
	#parte2{
		left: 0%;
		top: 100%;
		position: absolute;
		width: 100%;
		height: 200%;color: white;
		background-image: url("../IMAGENES/fondoco.jpg"); background-size: 100%;
		font-size: 150%;
	}
	#parte2 h2{top:-5%; position: inherit; text-align: center; width: 100%; color: white; font-size: 400%;}
	
	#formulario{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 15%;
	
	}
	
	input{
		width:70%;
	}
	
	
	
	button:hover{
			background: black;
		color: white;
	}
	button {
		
		position: inherit;
		margin-left: 0%;
	width: 20%;
		height: 5%;transition: ease .6s;
		right: 20%;
		font-family:"Monterchi Thin";
		font-size:90%;
		font-weight: 800;
	border: solid;
		background: rgba(255,255,255,0.60);
		top: 80%;
		cursor: pointer;
	}
	
	textarea{
		width:70%;
	resize: none;
		height: 70px;
		position: relative;
	}
	
	
	
	
	#info{
		position: inherit;
		top: 60%;
		width: 30%;
		color: black;
		left: 60%;
	
	}
	
	
	
	
	
	
	#footer{
		position: absolute;
		top: 312%;
		left: 0%;
		height: 30%;
		width: 100%;
		  background: black;
		font-family: Fabulist;
		font-size: 120%;
		color:white;
	}
	
	#footer > h4{
		font-weight: 600;
		font-size: 130%;
		float: left;left: 2%;
		text-align: left;
		position: inherit;
		top: 0%;
			
	}
	
	#footiz{
			text-align: justify;
		position: inherit;
		float: left;
		top: 25%;
		width: 25%;
		left: 2%;
		
	}
	
	
	#footiz1{
			text-align: justify;
		position: inherit;
		float: left;
		top: 40%;
		width: 25%;
		left: 2%;
		
	}
	
	#footiz2{
			text-align: justify;
		position: inherit;
		float: left;
		top: 55%;
		width: 25%;
		left: 2%;
		
	}
	
	#footder{
			text-align: right;
		position: inherit;
		float: right;
		top: 70%;
		width: 98%;
		
		
	}

}
